@import '~/assets/styles/_utility';

.top {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;

  amp-img,
  img {
    width: 25em;
    height: 25em;
    @include media(sp) {
      width: 10rem;
      height: 10rem;
    }
    border-radius: 50%;
  }

  &__name {
    font-size: 7.1rem;
    @include media(sp) {
      font-size: 2.5rem;
    }
  }
}
