@import './variables';
@import './normalize';
@import './utility';
@import './mixins';

html {
  font-size: 62.5%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

body {
  letter-spacing: 0.05em;
  line-height: 1.88;
  background: linear-gradient(-135deg, #e4a972, #9941d8) fixed;

  @include media(sp) {
    letter-spacing: 0.1em;
    line-height: 1.58;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

@import './pages/';
@import './layouts/';
